[default_thinking]
hf = unsloth/Qwen3.6-35B-A3B-MTP-GGUF:UD-Q6_K
ctx-size = 128000
temp = 0.6
top-p = 0.95
top-k = 20
min-p = 0.05
presence-penalty = 1.2
frequency-penalty = 0.5
ubatch-size = 4096
batch-size = 4096
ngl = 999
chat-template-kwargs = {"enable_thinking": true}
ot = blk\.([0-9]|[0-2]?[0-9]|3[0-1])\.ffn_(down|gate|up)_exps\.=CPU
flash-attn = on
spec-type = draft-mtp
spec-draft-n-max = 2
jinja = true

[default_non-thinking]
hf = unsloth/Qwen3.6-35B-A3B-MTP-GGUF:UD-Q6_K
ctx-size = 128000
temp = 0.6
top-p = 0.95
top-k = 20
min-p = 0.05
presence-penalty = 1.2
frequency-penalty = 0.5
ubatch-size = 4096
batch-size = 4096
ngl = 999
chat-template-kwargs = {"enable_thinking": false}
ot = blk\.([0-9]|[0-2]?[0-9]|3[0-1])\.ffn_(down|gate|up)_exps\.=CPU
flash-attn = on
spec-type = draft-mtp
spec-draft-n-max = 2
jinja = true

[mini_thinking]
m = llama/models/Qwen3.5-4B-UD-Q8_K_XL.gguf
ctx-size = 128000
temp = 0.6
top-p = 0.95
top-k = 20
min-p = 0.05
presence-penalty = 0.0
repeat-penalty = 1.0
chat-template-kwargs = {"enable_thinking": true}
ngl = 99
flash-attn = on
jinja= true


[mini_non-thinking]
m = llama/models/Qwen3.5-4B-UD-Q8_K_XL.gguf
ctx-size = 128000
temp = 0.6
top-p = 0.95
top-k = 20
min-p = 0.05
presence-penalty = 0.0
repeat-penalty = 1.0
chat-template-kwargs = {"enable_thinking": true}
ngl = 99
jinja= true

